<% extend './shared/admin-base' %>

<div class="row" ng-controller="AppCtrl">
    <div class="col-md-12">
        <div class="portlet ">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-users"></i>商家管理</div>
                <div class="tools">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn default btn {{tab == -1 ? "active": ""}}" >
                            <a ng-href="#/uncheck">
                                <input type="radio" name="options" class="toggle">待审核
                            </a>
                        </label>
                        <label class="btn default btn tab-toggle {{tab == 0 ? "active": ""}}" >
                            <a ng-href="#/checked">
                                <input type="radio" name="options" class="toggle">已审核
                            </a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div ng-view></div>
                <div simple-datatable ng-model="list" sdt-action-col="actionColFactory" sdt-on="sdtOn">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th  data-sdt-col="shopName">店铺名称</th>
                            <th  data-sdt-col="name">店长姓名</th>
                            <th  data-sdt-col="phone">手机号</th>
                            <th  data-sdt-col="fullAddress">地址</th>
                            <th style="width: 160px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <span class="pull-left">共<span sdt-total-label></span> 第<span sdt-total-page></span>页</span>
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" sdt-prev-btn>上一页</button>
                            <button type="button" class="btn btn-default" sdt-next-btn>下一页</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-handlebars-template" id="uncheck-btn">
    <td>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-primary" sdt-row-click="remove, pass">通过</button>
            <button type="button" class="btn btn-warning" sdt-row-click="remove, reject">不通过</button>
        </div>
    </td>
</script>
<script type="text/x-handlebars-template" id="checked-btn">
    <td>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-primary" sdt-row-click="look, ">查看</button>
        </div>
    </td>
</script>

<% block 'scripts': %>
<script src="/dist/seller-list.js"></script>
<% end %>



