<% extend './shared/admin-base' %>
<div id="check-list" simple-datatable sdt-perpage-box-init="perPageBoxInit">
    <ul id="seller-tab" class="nav nav-tabs">
        <li class="active"><a href="#non-check" data-toggle="tab">未审核用户</a></li>
        <li><a href="#check" data-toggle="tab">已审核用户</a></li>
    </ul>
    <div id="non-check" class="tab-pane fade in active" ng-controller="nonCheckCtrl">
            <!--<div class="row">-->
                <div class="col-md-4" ng-repeat="data in uncheck_data">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-cogs"></i>未审核用户</div>
                            <div class="tools">
                                <!--<a href="javascript:;" class="collapse"></a>-->
                                <!--<a href="#portlet-config" data-toggle="modal" class="config"></a>-->
                                <!--<a href="javascript:;" class="reload"></a>-->
                                <!--<a href="javascript:;" class="remove"></a>-->
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>项目</th>
                                        <th>内容</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <th>name</th>
                                        <th>{{data.name}}</th>
                                    </tr>

                                    <tr>
                                        <th>password</th>
                                        <th>{{data.password}}</th>
                                    </tr>

                                    <tr>
                                        <th>phone</th>
                                        <th>{{data.phone}}</th>
                                    </tr>

                                    <tr>
                                        <th>address</th>
                                        <th>{{data.address}}</th>
                                    </tr>

                                    <tr>
                                        <th>shopName</th>
                                        <th>{{data.shopName}}</th>
                                    </tr>

                                    <tr>
                                        <th>status</th>
                                        <th>{{data.status}}</th>
                                    </tr>

                                    <tr>
                                        <th><button class="btn btn-success" type="button" ng-click="confirmSeller(data.id)">同意</button></th>
                                        <th><button class="btn btn-danger" type="button" ng-click="deleteSeller(data.id)">拒绝</button></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            <!--</div>-->

    </div>

    <div id="check" class="tab-pane fade" ng-controller="checkedCtrl">

            <!--<div class="row">-->
                <div class="col-md-4" ng-repeat="data in checked_data">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-cogs"></i>已审核用户</div>
                            <div class="tools">
                                <!--<a href="javascript:;" class="collapse"></a>-->
                                <!--<a href="#portlet-config" data-toggle="modal" class="config"></a>-->
                                <!--<a href="javascript:;" class="reload"></a>-->
                                <!--<a href="javascript:;" class="remove"></a>-->
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <th>name</th>
                                        <th>{{data.name}}</th>
                                    </tr>

                                    <tr>
                                        <th>password</th>
                                        <th>{{data.password}}</th>
                                    </tr>

                                    <tr>
                                        <th>phone</th>
                                        <th>{{data.phone}}</th>
                                    </tr>

                                    <tr>
                                        <th>address</th>
                                        <th>{{data.address}}</th>
                                    </tr>

                                    <tr>
                                        <th>shopName</th>
                                        <th>{{data.shopName}}</th>
                                    </tr>

                                    <tr>
                                        <th>status</th>
                                        <th>{{data.status}}</th>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END SAMPLE TABLE PORTLET-->
                </div>
            <!--</div>-->

    </div>

    <div class="page-footer" ng-show="checked_data.length || uncheck_data.length">
        <div class="ui mini action input">
            <input type="text" style="width: 98px;" sdt-page-input min="1">
            <button class="ui right labeled icon button" sdt-page-btn><i class="right arrow icon"></i> <span sdt-total-page></span></button>
        </div>
        <div class="col-md-1" sdt-prev-btn><button class="btn btn-default" type="button"><i class="fa fa-arrow-left"></i></button></div>
        <div class="col-md-1" sdt-next-btn><button class="btn btn-default" type="button"><i class="fa fa-arrow-right"></i></button></div>
    </div>
</div>

<!-- 换页 -->

<% block 'scripts': %>
    <script src="/dist/seller-list.js"></script>
<% end %>



