<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    <title>小地主卖家管理平台</title>
    <link rel="stylesheet" href="/dist/admin-commons.js.css">
    <link rel="stylesheet" href="/dist/admin-login.css">
</head>
<body class="login">
<div class="logo">
    小地主
</div>
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="/admin-login" method="post">
        <h3 class="form-title">登录</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>输入您的手机号和密码</span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">用户名</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="用户名" name="nickname"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password"/>
            </div>
        </div>
        <div class="form-actions">
            <!--<label class="checkbox">-->
            <!--<input type="checkbox" name="remember" value="1"/>记住我-->
            <!--</label>-->
            <button type="submit" class="btn green pull-right">
                登录 <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>

    </form>

</div>
<script src="/dist/admin-commons.js"></script>
<script src="/dist/admin-login.js"></script>
</body>
</html>


