<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="start active ">
            <a href="/admin/index">
                <i class="fa fa-home"></i>
                <span class="title">首页</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="">
        <li >
            <a href="/adminer-super/accountlist">后台人员管理</a>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-users"></i>
                <span class="title">微信用户管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">

                <li>
                    <a href="/adminer/user-assign">微信用户分配到业务员</a>
                </li>
                <li>
                    <a href="/adminer/user-list">微信用户审核</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-users"></i>
                <span class="title">商品管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">

                <li>
                    <a href="/adminer/goods">列表</a>
                </li>
                <li>
                    <a href="/adminer/goods/save">添加</a>
                </li>
            </ul>
        </li>
        <li >
            <a href="/adminer/fare">运费管理</a>
        </li>
        <li >
            <a href="/adminer/Area">区域管理</a>
        </li>
        <li >
            <a href="/adminer/goodstype">种类管理</a>
        </li>
        <li >
            <a href="/adminer/order-list">订单管理</a>
        </li>
        <li >
        <a href="/adminer/evaluations">评价列表</a>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>