<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="start active ">
            <a href="/admin/index">
                <i class="fa fa-home"></i>
                <span class="title">首页</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="/adminer-super/accountlist">
                <i class="fa fa-users"></i>
                <span class="title">后台人员管理</span>
            </a>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-wechat"></i>
                <span class="title">微信用户管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="/adminer/user-assign">微信用户分配到业务员</a>
                </li>
                <li>
                    <a href="/adminer/user-list">微信用户审核</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-shopping-cart"></i>
                <span class="title">商品管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">

                <li>
                    <a href="/adminer/goods">列表</a>
                </li>
                <li>
                    <a href="/adminer/goods/save">添加</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/adminer/fare">
                <i class="fa fa-car"></i>
                <span class="title">运费管理</span>
            </a>
        </li>
        <li>
            <a href="/adminer/Area">
                <i class="fa fa-map"></i>
                <span class="title">区域管理</span>
            </a>
        </li>
        <li>
            <a href="/adminer/goodstype">
                <i class="fa fa-tags"></i>
                <span class="title">种类管理</span>
            </a>
        </li>
        <li>
            <a href="/adminer/order-list">
                <i class="fa fa-rmb"></i>
                <span class="title">订单管理</span>
            </a>
        </li>
        <li>
            <a href="/adminer/evaluations">
                <i class="fa fa-comments"></i>
                <span class="title">评价列表</span>
            </a>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>