<!-- BEGIN REGISTRATION FORM -->
<form class="register-form" action="index.html" method="post">
    <h3 >注册</h3>
    <p>请在下面输入账户详细信息</p>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">商店名</label>
        <div class="input-icon">
            <i class="fa fa-font"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="全名" name="fullname"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">居住地址</label>
        <div class="input-icon">
            <i class="fa fa-check"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="地址" name="address"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">商铺类型</label>
            <select name="type" id="select2_sample4" class="select2 form-control">
                <option value="0">百货店铺</option>
                <option value="1">超市店铺</option>
            </select>
    </div>
    <p>请在下面输入待注册商户的详细信息</p>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">手机号</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="用户名" name="username"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">密码</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="密码" name="password"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">确认密码</label>
        <div class="controls">
            <div class="input-icon">
                <i class="fa fa-check"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="确认密码" name="rpassword"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" name="tnc"/> 我同意 <a href="#">服务协议</a> 和 <a href="#">隐私协议</a>
        </label>
        <div id="register_tnc_error"></div>
    </div>
    <div class="form-actions">
        <button id="register-back-btn" type="button" class="btn">
            <i class="m-icon-swapleft"></i>  返回
        </button>
        <button type="submit" id="register-submit-btn" class="btn green pull-right">
            注册<i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
</form>
<!-- END REGISTRATION FORM -->