<!DOCTYPE html>
<html lang="en">
<head>
    <% include 'shared/head' %>
</head>
<body>

<div class="">
    <form class="am-form am-form-horizontal" method="post">
        <h3 class="am-text-center">店铺入驻</h3>
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label am-text-sm">店铺名称</label>
            <div class="am-u-sm-9">
                <input type="text" placeholder="填写您的店铺名称" required name="shopName">
                <div class="am-alert am-alert-secondary am-hide">请填写店铺名称</div>
            </div>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label am-text-sm">店长姓名</label>

            <div class="am-u-sm-9">
                <input type="text" placeholder="填写店长姓名" required name="name">
                <div class="am-alert am-alert-secondary am-hide">填写店长姓名</div>
            </div>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label am-text-sm">店铺位置</label>

            <div class="am-u-sm-9">
                <div class="am-g" id="distpicker">
                    <div class="am-u-sm-6">
                        <select class="am-margin-vertical-xs" name="province" required></select>
                    </div>
                    <div class="am-u-sm-6">
                        <select class="am-margin-vertical-xs" name="city" required></select>
                    </div>
                    <select class="am-margin-vertical-xs" name="country" required></select>
                </div>
                <input name="address" type="text" placeholder="请输入具体地址" required>
                <div class="am-alert am-alert-secondary am-hide">请填写店铺位置</div>
            </div>

        </div>
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label am-text-sm">手机号</label>

            <div class="am-u-sm-9">
                <div class="am-input-group">
                    <input type="text" class="am-form-field js-pattern-phone" name="phone" required id="phone">
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" id="get-verify-code">获取验证码</button>
                    </span>
                </div>
                <div class="am-alert am-alert-secondary am-hide">请填写手机号</div>
            </div>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label am-text-sm">验证码</label>

            <div class="am-u-sm-9">
                <input type="text" placeholder="验证码" name="verifyCode" required id="code">
                <div class="am-alert am-alert-secondary am-hide">请输入正确验证码</div>
            </div>
        </div>

        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label am-text-sm">密码</label>

            <div class="am-u-sm-9">
                <input type="password" placeholder="密码" name="password" required minlength="6">
                <div class="am-alert am-alert-secondary am-hide">请输入密码(最小长度为6)</div>
            </div>
        </div>
        <input type="hidden" name="districtCode">
        <div class="am-form-group am-text-center">
            <button type="submit" class="am-btn am-btn-warning">提交登入</button>
        </div>
    </form>
</div>


<script src="/jquery.min.js"></script>
<script src="/amazeui.min.js"></script>
<script src="/dist/seller-register.js"></script>
</body>
</html>