<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include './shared/head' %>
    <title>收货地址管理</title>
    <link rel="stylesheet" href="../../src/bower_components/amazeui/dist/css/amazeui.min.css"/>
</head>
<body>
<div class="am-g" ng-app="App">
    <div class="address-list">
    <div class="content title">
        <div class="am-u-sm-10">
            <div class="bian-content">
                <div class="am-u-sm-3">
                    <div class="bian-head bian-name">
                        <span>卞留念</span>
                    </div>
                </div>
                <div class="am-u-sm-3 am-u-sm-push-3">
                    <div class="bian-head bian-tel">
                        <span>18340861711</span>
                    </div>
                </div>
                <div class="bian-address">
                    <div class="am-u-sm-2"><div class="bian-state">[默认]</div></div>
                    <div class="am-u-sm-10">
                    <span>辽宁省大连市金州区万达广场领导办公室旁边</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-sm-2  edit">
            <div class="bian-edit">
                <div class="am-btn am-btn-primary bian-btn">编辑</div>
                <div class="am-btn am-btn-danger bian-btn">删除</div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="am-u-sm-10">
            <div class="bian-content">
                <div class="am-u-sm-3">
                    <div class="bian-head bian-name">
                        <span>卞留念</span>
                    </div>
                </div>
                <div class="am-u-sm-3 am-u-sm-push-3">
                    <div class="bian-head bian-tel">
                        <span>18340861711</span>
                    </div>
                </div>
                <div class="bian-address">
                    <div class="am-u-sm-2"><div class="bian-state">[默认]</div></div>
                    <div class="am-u-sm-10">
                        <span>辽宁省大连市金州区万达广场领导办公室旁边</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-sm-2 edit">
            <div class="bian-edit">
                <div class="am-btn am-btn-primary bian-btn">编辑</div>
                <div class="am-btn am-btn-danger bian-btn">删除</div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="am-u-sm-10">
            <div class="bian-content">
                <div class="am-u-sm-3">
                    <div class="bian-head bian-name">
                        <span>卞留念</span>
                    </div>
                </div>
                <div class="am-u-sm-3 am-u-sm-push-3">
                    <div class="bian-head bian-tel">
                        <span>18340861711</span>
                    </div>
                </div>
                <div class="bian-address">
                    <div class="am-u-sm-2"><div class="bian-state">[默认]</div></div>
                    <div class="am-u-sm-10">
                        <span>辽宁省大连市金州区万达广场领导办公室旁边</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-sm-2 edit">
            <div class="bian-edit">
                <div class="am-btn am-btn-primary bian-btn">编辑</div>
                <div class="am-btn am-btn-danger bian-btn">删除</div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="add-address">
    <div class="am-g">
        <div class="am-u-sm-12">
            <button class="am-btn am-btn-block" type="button" id="add">新增收货地址</button>
        </div>
    </div>
</div>
<script src="/dist/user-address-list.js"></script>
</body>
</html>