<div id="navbar" class="am-navbar ">
    <ul class="am-navbar-nav">
        <li>
            <a href="/user/index">
                <i class="am-icon am-icon-home"></i>
                <span class="am-navbar-label">商城</span>
            </a>
        </li>
        <li class="">
            <a href="/user/shoppingcart-view" >
                <i class="am-icon am-icon-shopping-cart"></i>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li class="">
            <a href="/user/center" >
                <i class="am-icon am-icon-user"></i>
                <span class="am-navbar-label">个人中心</span>
            </a>
        </li>
    </ul>
</div>