<% extend 'phone/base.html' %>


<% for e in @list : %>
<div class="ds-ctx-body ">
    <div class="">
        <div  class="ds-time " ><%= e.createdAt.toLocaleString() %></div>
        <div class="ds-ctx-head "><%= e.User.nickname %>

        </div>

    </div>

    <div class="ds-ctx-text"><%= e.text %>　　　　　　　
    </div>
</div>
<hr style="height:1px;border:none;border-top:1px solid #ddd;margin: 5px;" />

<% end %>

<div  style="float: right">

        <ul class="am-pagination" style="visibility: visible;">
            <% if @page==0 : %>
            <li class="am-pagination-prev "><a class="am-btn am-disabled" href="#" title="Prev">«</i></a></li>
            <% else : %>
            <li class="am-pagination-prev "><a href="<%=  @preurl %>" title="Prev">«</i></a></li>
            <% end %>

            <% if @next>0 : %>
            <li class="am-pagination-next"><a href="<%=  @nexturl  %>" title="Next">下一页»</i></a></li>
            <% else : %>
            <li class="am-pagination-next "><a class="am-btn am-disabled" href="#" title="Next">下一页»</i></a></li>
            <% end %>
        </ul>

</div>




<% block 'scripts': %>
<script src="/dist/phone-evaluation.js"></script>
<script>
    var $=jQuery;

</script>
<% end %>