<!DOCTYPE html>
<html lang="en">
<head>
    <% include 'shared/head' %>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=drv2UkNNlsTAAXNIb0fWZM9u"></script>
</head>
<body ng-controller="AppCtrl">

<header class="fixed-header am-padding-xs">

    <button class="am-btn am-btn-danger am-btn-sm am-radius am-fl city-label">
        {{city}}
        <span class="am-icon-caret-down"></span>
    </button>
    <form class="am-fl am-margin-left-xs" role="search">
        <div class="am-form-group">
            <input type="text" class="am-form-field am-input-sm am-radius" placeholder="搜索" ng-model="search" id="search">
        </div>
    </form>
</header>

<div class="ltypes" ng-controller="LTypeCtrl">
    <div class="swiper-container">
        <div class="swiper-wrapper" >
            <!--<div class="swiper-slide {{activeLTypeIndex == -1 ? 'active' : ''}}" ng-click="setLType(-1)">我的收藏</div>-->
            <div class="swiper-slide {{activeLTypeIndex == $index ? 'active' : ''}}" ng-repeat="type in types" data-id="{{type.id}}" ng-click="setLType($index)">{{type.title}}</div>
        </div>
    </div>
    <div class="ltypes-btn am-cf">
        <div class="ltypes-prev am-fl" ng-click="prev()"><i class="am-icon am-icon-caret-left"></i></div>
        <div class="ltypes-next am-fr" ng-click="next()"><i class="am-icon am-icon-caret-right"></i></div>
    </div>
</div>

<div class="stypes" ng-controller="STypeCtrl">
    <ul class="am-list">
        <!--<li class="special {{activeSTypeIndex == -1 ? 'active' : ''}}" ng-click="setSType(-1)">促销</li>-->
        <li class="{{activeSTypeIndex == $index ? 'active' : ''}}" ng-repeat="type in types[activeLTypeIndex].GoodsTypes" ng-click="setSType($index)">{{type.title}}</li>
    </ul>
</div>

<div class="goods-area">
    <div ng-repeat="goods in goodsData">
        <div ng-controller="GoodsItemCtrl" class="goods-item am-cf am-padding-sm" ng-init="index = $index">
            <a class="goods-item-left" ng-href="/user/goods-page/{{goods.id}}">
                <h3 class="">{{goods.title}}</h3>
                <p>
                    <span class="am-text-danger">{{goods.price}}</span>
                    /
                    <span class="am-text-xs">{{goods.per}}</span>
                </p>
                <p class="am-text-xs">已售{{goods.soldNum}}</p>
                <p class="am-text-xs">剩余{{goods.capacity}}</p>
            </a>
            <div class="goods-item-right">
                <img ng-src="{{goods.mainImg}}">
                <div class="counter am-cf">
                    <div class="btn minus am-fl am-text-warning" ng-click="add(-1)">
                        <i class="am-icon am-icon-minus-square-o"></i>
                    </div>
                    <input type="text" pattern="" class="am-fl" ng-model="goods.num">
                    <div class="btn plus am-fl am-text-success" ng-click="add(1)">
                        <i class="am-icon am-icon-plus-square-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-text-center am-padding" ng-show="loadStatus != 2" ng-click="loadMore()">
        <i class="am-icon {{loadStatus == 0 ? 'am-icon-hand-o-down' : 'am-icon-spinner'}}"></i>
        {{loadStatus == 0 ? '加载更多' : '正在加载'}}
    </div>
</div>

<% include "phone/bottom-navbar.html" %>

<div class="full-modal am-modal am-modal-no-btn" tabindex="-1" id="city-modal" ng-controller="CityCtrl">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">切换城市
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <div class="am-input-group">
                <span class="am-input-group-btn">
                    <button class="am-btn am-btn-default" type="button">
                        <span class="am-icon-search"></span>
                    </button>
                </span>
                <input type="text" class="am-form-field" ng-model="filter">
            </div>
            <div class="am-cf am-margin-vertical">
                <span class="am-fl">当前城市</span>
                <span class="am-btn am-btn-success am-fr" ng-click="selectRealCity()">{{realCity}}</span>
                <div class="am-divider am-divider-default"></div>
            </div>
            <div>
                <ul class="am-list am-list-static am-list-border am-list-striped">
                    <li ng-repeat="city in showed" class="am-text-left am-text-sm" ng-click="select($index)">
                        {{city}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/plain" id="types">
    <%- @types %>
</script>
<script src="/jquery.min.js"></script>
<script src="/amazeui.min.js"></script>
<script src="/dist/phone-index.js"></script>
</body>
</html>