@import "scss";

.uploaded-imgs{
  &-item{
    $width: 320px;
    $height: 130px;
    width: $width;
    height: $height;
    position: relative;
    margin: 6px 12px;
    img{
      width: $width;
      height: $height;
    }
    &-main {
      text-align: center;
      img{
        margin: 0 auto;
        width: 128px;
        height: 128px;
      }
    }
    overflow: hidden;
    &-tools {
      position: absolute;
      width: 100%;
      top: -100%;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      line-height: $height;
      @include transition();
    }
    &:hover &-tools {
      top: 0;
    }
  }
}