body{
  background-color: grey;
  margin:0;
  padding:0;
}

.logout{
  margin-top:20px;
}

.myinfo{
  background-color: white;
  margin-top:20px;
}

.name{

}

.phone{
  height:40px;
  line-height:40px;
}

.change{
  float:right;
  color:darkgrey;
}

.changephone{
  margin-top:20px;
}
