$img-size: 120px;
table img{
  width: $img-size;
  height: $img-size;
}
table .img-col {
  width: $img-size + 40px;
}
table th {
  text-align: center;
}
table td {
  text-align: center;
  line-height:$img-size !important;
}
@import "../shared/table";